<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
          @media (max-width:780px){
           .main-con-sec{width: 100% !important;} }    
    </style>
</head>
<body style="background-color: #f0f8ff9e;">
    <section style="width: 100%;padding: 35px 0px; font-family: sans-serif;border: solid 1px #e5e5e5;">
      <div class="main-con-sec" style="width: 100%;display: block;margin: auto;background-color: #fff;border-radius: 10px;">
        <div style="padding: 30px 20px 20px;">
            <div class="logo-sec">
                <img src="{{{logo}}}" alt="" style="width: 100px;">
             </div>
             <div class="main-content" style="font-size: 15px;line-height: 24px;padding-top: 30px;">
               {{{content}}}
          </div>
        </div>
        <footer style="background: #f1f1f1;padding: 15px 20px;font-size: 14px;line-height: 25px;">
            <img src="{{{logo}}}" alt="" width="100px">
            <p  style="margin: 0;">{{{companyName}}}, <br>{{{address}}}</P>
        </footer>
      </div>
     
    </section>
</body>
</html>